<!--<div class="container">-->
<!--  <div class="d-flex justify-content-center">-->
<!--    <mat-card style="width: 85%">-->
<!--      <div class="">-->
<!--        <mat-list *ngFor="let folder of  folder_list">-->
<!--          <mat-list-item style="margin-bottom: 10px">-->
<!--            <button  mat-fab matTooltip="{{folder}}"-->
<!--                     color="primary" aria-label="Example icon button with a delete icon">-->
<!--              <mat-icon>folder</mat-icon>-->
<!--            </button>-->
<!--            <h6 style="margin-top: 15px">{{folder}}</h6>-->
<!--            <button style="" mat-fab matTooltip="Delete Folder"-->
<!--                    color="primary" aria-label="Example icon button with a delete icon" (click)="deleteFolder(folder)">-->
<!--              <mat-icon>delete</mat-icon>-->
<!--            </button>-->
<!--          </mat-list-item>-->
<!--          <mat-divider></mat-divider>-->
<!--        </mat-list>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
